<section id="services-index" class="home-service-container">
    <!--<div class="home-service-container">-->
        <div class="home-service-text">
           <p class="title">Our Sevices</p> 
        </div>
        
        <div class="home-service-main-text">
            <h1>法人様向け</h1>
        </div>
        <div class="home-service-main-nav">
            <div class="service-area">
                <img src="/image/services/1231.webp" class="service-image">
                <h2>資産管理アドバイス</h2>
            </div>
            <div class="service-area">
                <img src="/image/services/86da6.webp" class="service-image">
                <h2>決算対策</h2>
            </div>
            <div class="service-area service-hidden-span">
                <img src="/image/services/850d06.webp" class="service-image">
                <h2>金融のプロ養成講座</h2>
            </div>
        </div>
        
        <div class="home-service-main-text smart-service-main-text2">
            <h1>個人様向け</h1>
        </div>
        
        <div class="home-service-main-nav">
            <div class="service-area">
                <img src="/image/services/6d79c.webp" class="service-image">
                <h2>保険商品活用</h2>
                <span class="service-hidden-span">生命保険・損害保険会社のサービスの活用</span>
            </div>
            <div class="service-area">
                <img src="/image/services/11062b_.webp" class="service-image">
                <h2>金利最適化</h2>
                <span class="service-hidden-span">相見積もりサービス等</span>
            </div>
            <div class="service-area">
                <img src="/image/services/11062b_8.webp" class="service-image">
                <h2>相続サポート</h2>
                <span class="service-hidden-span">幅広い選択肢</span>
            </div>
        </div>
        
         <div class="home-service-main-nav home-nav-last">
            <div class="service-area">
                <img src="/image/services/850d06_1.webp" class="service-image">
                <h2>投資トラブル相談</h2>
                <span class="service-hidden-span">海外トラブルにも対応</span>
            </div>
            <div class="service-area">
                <img src="/image/services/af4993.webp" class="service-image">
                <h2>不動産関連相談</h2>
            </div>
            <div class="service-area">
                <img src="/image/services/2612093.webp" class="service-image">
                <h2>決済還元アドバイス</h2>
            </div>
        </div>
    <!--</div>-->
</section>