<section id="about">
    <div class="home-service-container">
        <div class="home-service-text">
           <p class="title">About Us</p> 
        </div>
    </div>
    <div class="home-about-text">
        <p class="president">代表取締役<span>福士雄哉</span></p>
        <p class="birthplace">北海道出身</p>
        <p>東証一部上場企業の営業技術部へ入社。</p>
        <p>退職後、人材派遣・転職支援の事業を立ちあげビジネスの基礎を学び２０２１年に株式会社Vistavek法人登記。</p>
        <p>その後、金融を本格的に学んでいくにつれ、世界的にみたら日本人はかなり高所得であるが、まったく資産を増やせていないという金融リテラシーの低さに違和感を感じ、個人顧客向けのFP業務を開始。</p>
        <p>自分の実体験をもとに本音ベースで話すスタイルが顧客の信頼を生み、多くの支持を受けている</p>
        <p>一方で、海外支援ボランティアの活動も行っており、２０２２年にはフィリピンの学校へランドセルや文房具を寄付しに訪問。</p>
        <p>まずは日本人の金融リテラシーの向上を目指し、より質の高いコンサルティングを目指す。</p>

          
          <div class="home-about-last-text">
              <h1>​VI<span>SIO</span>N</h1>
              
              <p>
                  世界第2位まで上り詰めた日本の経済力やその豊かさゆえに、
              <br>
                  日本人は”金融リテラシー”をつけずにここまで来てしまっているのが現状です。
              </p>
              <p>
                  一方で、金融業界はいろいろな専門職がありますが、
              <br>
                 各業界は孤立している傾向があり、
              <br>
                 全体を把握した上での相談業務を目にするのは稀です。
              </p>
              <p>
                  そんな中で弊社では、
              <br>
                  その時代その時代のテーマを重視したご提案を志し、
              <br>
                  お客様の金融分野における課題を解決させていただきます。
              </p>
              <p>
                  そのためにも、どんどん移り変わりゆく時代の中で、
              <br>
                  顧客利益を最大化するために様々な分野、情報取得に努めていきます。
              </p>
              <p>
                 ご縁のある方の
              <br>
                 人生の中で平等に与えられた時間、
              <br>
                 各々の時間（命）を変えて得た利益、
              <br>
                 ​を、自身の「時間」「利益」
              <br>
                  と同等のものとして扱える Time Planner として
              <br>
                  社会に対して、お客様に対して、
              <br>
                  貢献していくことにコミットしていきます。
              </p>
          </div>
          
          <div class="home-about-table">
              <h1>会社概要</h1>
              
              <table>
                <tbody>
                    <tr>
                        <td class="td-one">
                            会社名
                        </td>
                        <td class="td-two">
                            株式会社 Vistavek
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            代表取締役
                        </td>
                        <td class="td-two">
                            福士 雄哉
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            取締役
                        </td>
                        <td class="td-two">
                            XXXXXX XXXXX
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            所在地
                        </td>
                        <td class="td-two">
                            東京都xxxxxxxxxxxxx
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            設立
                        </td>
                        <td class="td-two">
                            2021年xx月
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            事業内容
                        </td>
                        <td class="td-two">
                            <ul>
                                <li>個人向けファイナンシャルプランニング業務</li>
                                <li>資産管理コンサルティング</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            取引銀行
                        </td>
                        <td class="td-two">
                            xxxxxxx銀行　xxxxx支店​
                        </td>
                    </tr>
                </tbody>
        　　　</table>
          </div>    
    </div>
</section>