<section id="about">
    <div class="home-service-container">
        <div class="home-service-text">
           <p class="title">About Us</p> 
        </div>
    </div>
    <div class="home-about-text">
          <ul>
              <li><span>代表取締役　愛染興希</span></li>
              <li>
                  <p>香川県出身</p>
              </li>
              <li>
                  <p>
                      大学在学中、海外でのボランティア活動やビジネスプログラムに参加してビジネスの基礎を学ぶ。
              <br>
                      卒業後、あなぶき興産株式会社（東証一部上場）に入社。
                  </p>
              </li>
              <li>
                  <p>
                      新入社員の時から開発の仕事を任され一都三県の相場調査等の業務を経験。
                  <br>
                      2019年から個人向けFP業務を開始。
                  <br>
                      不動産の裏話と不動産を販売しないスタイルが多くの方の信頼を生み、
                  <br>
                      金融機関から2020年度から毎年の活動が評価され、優績者に選ばれる。
                  </p>
              </li>
              <li>
                  <p>
                      自身の貧困を経験をもとに、少しでも多くの方の力になるべく、志をもって資本主義社会と向き合い、
                  <br>
                      TV出演やメディア活動も積極的に行い金融業界における影響力拡大を目指す。
                  </p>
              </li>
          </ul>  
          
          <ul class="home-about-ul">
              <li><span>創業者　小宮山拓真</span></li>
              <li>
                  <p>
                      長野県出身
                  </p>
              </li>
              <li>
                  <p>
                      成蹊大学卒業後、東証一部上場の商社のIT部門に入社。
                  <br>
                      退職後、人材紹介事業や講演事業など複数のスタートアップ企業の立ち上げを経験。
                  </p>
              </li>
              <li>
                  <p>
                      その後、香港で金融を主体とした社会情勢を学び、個人顧客向けFP業務を開始。
                  <br>
                      多くの顧客から支持を受け、複数の金融機関から優績者に選ばれる
                  </p>
              </li>
              <li>
                  <p>
                      一方で、海外支援ボランティアを並行して行い、ベトナム・フィリピンを主軸に支援を行う。
                  <br>
                      その活動内容を子供たちにシェアしてほしいという依頼から、各地の小学校にて講演も行う。
                  </p>
              </li>
              <li>
                  <p>
                     より幅広い資産管理・保全のニーズに対応するため、2020年に㈱TP Savingを設立。
                  </p>
              </li>
          </ul> 
          
          <div class="home-about-last-text">
              <h1>​VI<span>SIO</span>N</h1>
              
              <p>
                  世界第2位まで上り詰めた日本の経済力やその豊かさゆえに、
              <br>
                  日本人は”金融リテラシー”をつけずにここまで来てしまっているのが現状です。
              </p>
              <p>
                  一方で、金融業界はいろいろな専門職がありますが、
              <br>
                 各業界は孤立している傾向があり、
              <br>
                 全体を把握した上での相談業務を目にするのは稀です。
              </p>
              <p>
                  そんな中で弊社では、
              <br>
                  その時代その時代のテーマを重視したご提案を志し、
              <br>
                  お客様の金融分野における課題を解決させていただきます。
              </p>
              <p>
                  そのためにも、どんどん移り変わりゆく時代の中で、
              <br>
                  顧客利益を最大化するために様々な分野、情報取得に努めていきます。
              </p>
              <p>
                 ご縁のある方の
              <br>
                 人生の中で平等に与えられた時間、
              <br>
                 各々の時間（命）を変えて得た利益、
              <br>
                 ​を、自身の「時間」「利益」
              <br>
                  と同等のものとして扱える Time Planner として
              <br>
                  社会に対して、お客様に対して、
              <br>
                  貢献していくことにコミットしていきます。
              </p>
          </div>
          
          <div class="home-about-table">
              <h1>会社概要</h1>
              
              <table>
                <tbody>
                    <tr>
                        <td class="td-one">
                            会社名
                        </td>
                        <td class="td-two">
                            株式会社 TP Saving
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            代表取締役
                        </td>
                        <td class="td-two">
                            愛染 興希
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            取締役
                        </td>
                        <td class="td-two">
                            小宮山 拓真
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            所在地
                        </td>
                        <td class="td-two">
                            東京都渋谷区本町1-51-14
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            設立
                        </td>
                        <td class="td-two">
                            2020年6月
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            事業内容
                        </td>
                        <td class="td-two">
                            <ul>
                                <li>個人向けファイナンシャルプランニング業務</li>
                                <li>資産管理コンサルティング</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            取引銀行
                        </td>
                        <td class="td-two">
                            きらぼし銀行　代々木支店​
                        </td>
                    </tr>
                </tbody>
        　　　</table>
          </div>    
    </div>
</section>