<section id="about">
    <div class="home-service-container">
        <div class="home-service-text">
           <p class="title">About Us</p> 
        </div>
    </div>
    <div class="home-about-text">
        <p class="president">代表取締役<span>福士雄哉</span></p>
        <p class="birthplace">北海道出身</p>
        <p>東証一部上場企業の営業技術部へ入社。</p>
        <p>退職後、人材派遣・転職支援の事業を立ちあげビジネスの基礎を学び２０２１年に株式会社Vistavek法人登記。</p>
        <p>その後、金融を本格的に学んでいくにつれ、世界的にみたら日本人はかなり高所得であるが、まったく資産を増やせていないという金融リテラシーの低さに違和感を感じ、個人顧客向けのFP業務を開始。</p>
        <p>自分の実体験をもとに本音ベースで話すスタイルが顧客の信頼を生み、多くの支持を受けている</p>
        <p>一方で、海外支援ボランティアの活動も行っており、２０２２年にはフィリピンの学校へランドセルや文房具を寄付しに訪問。</p>
        <p>まずは日本人の金融リテラシーの向上を目指し、より質の高いコンサルティングを目指す。</p>

          
          <div class="home-about-last-text">
              <h1>​VI<span>SIO</span>N</h1>
              
              <p>高度経済成長期の日本の豊かさゆえに、<br>日本人はお金の勉強を全くせずに生きてきてしまったのが現状です。</p>
              <p>そのため今後は、金融知識がある人とない人ではかなりの格差が広がっていくといわれております。</p>
              <p>一方で、金融業界には様々な専門職があり、各業界の担当者の知識もそこに特化している傾向があり、<br>誰に相談をすればいいかすら分からない方も多いです。</p>
              <p>幅広く全体的な金融知識を把握した上での相談業務を目にするのはかなり稀です。</p>
              <p>そのような中、弊社は、その移り行く時期や情勢に合わせた提案を重視し、<br>お客様の金融分野に関わる課題を誠心誠意解決させていただきます。</p>
              <p>それに加え、お客様の利益を最大化をするためにも、日ごろから様々な情報を取得し続けていきます。</p>
              <p>弊社は、まずは現在の大人から金融リテラシーを上げていき、<br>将来的に貧困に悩まされる子どもがいない、<br>元気で笑顔あふれる家庭を増やすというミッションを果たします。</p>
              <p></p>







              
              
          </div>
          
          <div class="home-about-table">
              <h1>会社概要</h1>
              
              <table>
                <tbody>
                    <tr>
                        <td class="td-one">
                            会社名
                        </td>
                        <td class="td-two">
                            株式会社 Vistavek
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            代表取締役
                        </td>
                        <td class="td-two">
                            福士 雄哉
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            取締役
                        </td>
                        <td class="td-two">
                            XXXXXX XXXXX
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            所在地
                        </td>
                        <td class="td-two">
                            東京都新宿区北新宿１丁目３３－２０
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            設立
                        </td>
                        <td class="td-two">
                            2021年8月
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            事業内容
                        </td>
                        <td class="td-two">
                            <ul>
                                <li>個人向けファイナンシャルプランニング業務</li>
                                <li>資産管理コンサルティング</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-one">
                            取引銀行
                        </td>
                        <td class="td-two">
                            PayPay銀行　ビジネス営業部支店​
                        </td>
                    </tr>
                </tbody>
        　　　</table>
          </div>    
    </div>
</section>