<!--<main>-->
<div class="container">
    <div class="post-time-profit">
        <div class="post-profit-text">
            <h1>
                <span>T</span>IME
            </h1>
            <h1>
                <span>P</span>ROFIT
            </h1>
        </div>
    </div>
    <div class="post-saving">
        <div class="post-saving-text">
            <h1>S
                <span>A</span>
                V
                <span>I</span>
                N
                <span>G</span>
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="post-view-more-cover">
        
            <ul id="sliders-ul" class="sliders-ul">
                <li class="view-more-li-flex">
                    <div class="view-more-li-text">
                        <p>法人様向け</p>
                        <div class="view-more-link">
                            <%= link_to "/services/#corporation" do %>
                             VIEW MORE
                            <%end%>
                        </div>
                    </div>
                    <div class="view-more-image-cover">
                        <img src="/image/home/afbe224.png" class="view-more-image">
                    </div>
                </li>
                <li class="view-more-li-flex">
                    <div class="view-more-li-text">
                        <p>個人様向け</p>
                        <div class="view-more-link">
                            <%= link_to "/services/#personal" do %>
                             VIEW MORE
                            <%end%>
                        </div>
                    </div>
                    <div class="view-more-image-cover">
                        <img src="/image/home/cb2a3.png" class="view-more-image">
                    </div>
                </li>              
            </ul>
            <span class="arrow-left"></span>
            <span class="arrow-right hidden"></span>
    </div>
</div>
<!--</main>-->

<section>
    <div class="section-container">
        <div class="post-index-section-text">
            <h1>​時間と利益の<span>設</span>計を大切に。</h1>
            <p>
                株式会社​TP Savingは、世の中に正直に、お金と時間の設計サービスを提供する複数のTime Plannerにより活動しています。
                <br>
                今の時代に合った手法を自ら実践し、リードしていきます。
            </p>
            <div class="view-btn">
                        <%= link_to about_path do %>
                            VIEW MORE
                        <%end%>
            </div>
        </div>
    </div>
</section>

<%= javascript_pack_tag 'home' %>
