<!--<main>-->

<div class="top-images">
    <img id="top-image-1" src="/image/home/top_1.jpg" class="top-image">
    <img id="top-image-2" src="/image/home/top_2.jpg" class="top-image">
    <img id="top-image-3" src="/image/home/top_3.png" class="top-image">
    <div id="top-word" class="words">
        Vistavek
        <!--<div class="word">VISTAVEK</div>-->
    </div>
</div>
  
<div class="top-container">
    <div class="post-view-more-cover">
            <ul id="sliders-ul" class="sliders-ul">
                <li class="view-more-li-flex">
                    <div class="view-more-li-text">
                        <p>法人様向け</p>
                        <div class="view-more-link">
                            <%= link_to "/services/#corporation" do %>
                             VIEW MORE
                            <%end%>
                        </div>
                    </div>
                    <div class="view-more-image-cover">
                        <img src="/image/home/company_img.png" class="view-more-image">
                    </div>
                </li>
                <li class="view-more-li-flex">
                    <div class="view-more-li-text">
                        <p>個人様向け</p>
                        <div class="view-more-link">
                            <%= link_to "/services/#personal" do %>
                             VIEW MORE
                            <%end%>
                        </div>
                    </div>
                    <div class="view-more-image-cover">
                        <img src="/image/home/personal_img.png" class="view-more-image">
                    </div>
                </li> 
                </ul>
                <span class="arrow-left"></span>
                <span class="arrow-right hidden"></span>
    </div>


<!--</main>-->

    <section>
        <div class="section-container">
            <div class="post-index-section-text">
                <p class="title">​時間と利益の<span>設</span>計を大切に。</p>
                <p class="word">
                    株式会社Vistavekは、世の中に正直に、お金と時間の設計サービスを<br>提供する複数のTime Plannerにより活動しています。
                    <br>
                    今の時代に合った手法を自ら実践し、リードしていきます。
                </p>
                <div class="view-btn">
                            <%= link_to about_path do %>
                                VIEW MORE
                            <%end%>
                </div>
            </div>
        </div>
    </section>
</div>
<%= javascript_pack_tag 'home' %>
