<div id="admin-top">
    <table>
        <tbody>
            <tr>
                <th>1.</th>
                <td><%= link_to "Members一覧", admin_members_path %></td>
            </tr>
            <tr>
                <th>2.</th>
                <td><%= link_to "お問合せ一覧", admin_contacts_path %></td>
            </tr>            
        </tbody>
    </table>
</div>
