// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#top {
    position: absolute;
    top: 70px;
    width: 100%;
}

.top {
    margin: 0;
    text-align: center;
    padding-top: 45vh;
    color: green;

}


