// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#top {
    // position: absolute;
    top: 70px;
    width: 100%;
}

.top {
    margin: 0;
    text-align: center;
    padding-top: 45vh;
    color: green;

}

.top-container {
  margin-top: 110vh;
}

.top-images {
  position: absolute;
  width: 100%;
  top: 70px;
}

.top-images img.top-image {
    width: 100%;
    height: calc( 100vh - 70px );
    object-fit: cover;
    position: relative;
    // animation-name: smooth-fadein-out;
    // animation-duration: 20s;
    // animation-timing-function: ease-out;
    // animation-fill-mode: backwards;
    // animation-delay: 0s;
    // animation-iteration-count: infinite;
    // animation-direction: alternate;    
}

#top-image-2 {
  display: none;
}

#top-image-3 {
  display: none;
}

// .top-images img.image.hidden {
//     display: none;
// }



// @keyframes smooth-fadein-out {
//   0% {opacity: 0;}
//   25% {opacity: 1;}
//   50% {opacity: 0;}
//   100% {opacity: 1;}
// }

.top-images div.words {
    position: absolute;
    display: block;
    top: calc( 50vh - 100px );
    left: calc( 50vw - 130px );
    text-align: center;
    font-size: 3rem;
    color: #fff;
    letter-spacing: 3px;
    transform: translateY(30px);
    transition: 1s;
}

.top-images div.words .company-name {
  height: 70px;
}

.top-images div.words.apeear {
    transform: translateY(0);
}

// .top-images div.words > .word-1 {
//     left:;
// }


// top page

.slider {
    width: 80%;
    margin: 0 auto;
}



// about page


.home-about-text{
    margin: 0 auto;
    width: 77.77%;
    font-family: 'Oswald', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.home-about-text .president {
    font-weight: 700;
    margin-bottom: 40px;
}

.home-about-text .president span {
    padding-left: 20px;
}

.home-about-text .birthplace {
    margin-bottom: 50px;
}




.home-about-ul{
    margin-top: 100px;
}

.home-about-last-text{
    margin: 0 auto;
    margin-top: 200px;
    width: calc( 100% - 100px );
    padding: 50px;
    background: #f7df8d4f;
}

.home-about-last-text h1{
    font-size: 38px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 80px;
}

.home-about-last-text h1 span{
    border-bottom: 3px solid #000;
    padding-bottom: 20px;
}

.home-about-last-text p{
    text-align: center;
    letter-spacing: 3px;
    margin-top: 40px;
}

.home-about-table{
    margin-top: 170px;
}

.home-about-table h1{
    font-size: 40px;
    text-align: center;
    font-weight: normal;
}

.home-about-table table{ 
    margin: 0 auto;
}

.home-about-table table tr td {
    border-bottom: 3px solid #d3d3d3;
    padding-top: 20px;
    opacity: 0.6;
}

.home-about-table table tr{
   border-bottom: 3px solid #d3d3d3; 
}

.td-one{
    padding: 20px 0 10px;
    width: 100px;
}

.td-two {
   padding: 20px 0 10px;
}

.td-two ul {
  padding-left: 15px;
}

.td-two ul li{
    padding: 0;
    margin: 0;
}


.post-time-profit {
    background: url("/image/home/redsugar201025937.webp") no-repeat;
    margin: 0 auto;
    margin-top: 60px;
    background-size: 80vw;
    height: 400px;
    width: 80vw;
    opacity: 0.7;
}

.post-profit-text{
    padding-top: 40px;
}
.post-profit-text h1{
    letter-spacing: 18px;
    text-align: center;
    color: #fff;
    font-size: 65px;
}

.post-saving-text{
  padding-top: 50px;  
}

.post-saving-text h1{
    letter-spacing: 10px;
    text-align: center;
    color: #fff;
    font-size: 70px;
}

.post-saving-text h1 span{
  color: rgb(247, 223, 141);  
}



.post-profit-text h1 span{
    color: rgb(247, 223, 141);
}

.post-saving{
    background: url("/image/home/KUMAKICHI1027610.webp") no-repeat;
    margin: 0 auto;
    margin-top: 60px;
    background-size: 80vw;
    height: 400px;
    width: 80vw;
    opacity: 0.7;
}

.post-view-more-cover{
    height: 350px;
    margin-top: 70px;
    // background: #000;
}

.post-view-more-cover ul {
    padding-left: 0;
}



.view-more-li-flex {
    display: flex;
    width: 80vw;
    margin: 0 auto;
}

.view-more-image{
    display: block;
    width: 100%;
    margin-left: auto;
    object-fit: cover;
    height: 350px;
}

.view-more-image-cover{
   width: 65%;  
}

.view-more-li-text{
  width: 35%; 
  background: #000;
  box-sizing: border-box; 
  text-align: center;
}


.view-more-li-text p {
    color: #fff;
    width: 170px;
    font-weight: normal;
    padding-left: 20px;
}

.view-more-li-text .view-more-link {
    text-align: center;
    margin: 20px 0 0 0
}

.view-more-li-text a {
    width: 100px;
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    line-height: 30px;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
}

// .view-more-li-text a:hover{
//     color: #000;
//     background: #fff;
// }

.view-more-li-text a span{
    display: inline-block;
    padding: 10px 20px;
    transition: 0.8s;
    font-size: 12px;
}
.view-more-li-text a span:hover{
    color: #000;
    background: #fff; 
    border-radius: 7px;
}

.view-more-li-text p{
    margin: 150px auto 0;
    font-size: 2vw;
    // margin-top: 100px;
    // // margin-left: 100px;
    // margin-bottom: 30px;
    letter-spacing: 2px;
}


.post-view-more-cover ul{
    display: flex;
    width: 200vw;
    // transform: translateX(-100vw);
}

// .post-view-more-cover ul.left{
//     transform: translateX(-100vw);
// }

// .post-view-more-cover ul.right{
//     transform: translateX(100vw);
// }


.view-more-li-flex li {
    width: 100vw;
    // margin: 0 10vw;
    
}

.post-view-more-cover{
    overflow: hidden;   
}

.arrow {
  position: relative;
  display: inline-block;
  padding: 10px;
}

.arrow::before {
  content: '';
  width: 25px;
  height: 25px;
  border-top: solid 1px #fff;
  border-right: solid 1px #fff;
  position: absolute;
  left: 10px;
  top: 8px;
}

.arrow.arrow-left::before {
  transform: rotate(-135deg);
}

.arrow.arrow-right::before {
  transform: rotate(45deg);
}

#prev,
#next {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

#prev {
  left: 60px;
}

#next {
  right: 50px;
}

.post-view-more-cover{
    // position: relative;
}

.section-container{
    height: 414px;
    // background: #00FFFF;
    margin-top: 100px;
    background: #add8e652;
}




.post-index-section-text{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.post-index-section-text p.title{
    font-size: 33px;
    letter-spacing: 4px;
    font-weight: normal;
    width: 80%;
    text-align: center;
    padding-top: 120px;
    margin: 0 auto;

}

.post-index-section-text p.title:after{
    content: "";
    display: block;
    border: 1px solid #000;
    width: 50px;
    margin: 10px auto 0;
}


.post-index-section-text h1 span{
    border-bottom: 3px solid #808080;
    padding-bottom: 15px;
}

.post-index-section-text p.word{
    line-height: 30px;
    font-weight: normal;
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
}

.view-btn{
    margin-top: 50px;
    text-align: center;
}

.view-btn a {
    width: 100px;
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #fff;
    color: #000;
    border: 2px solid #000;
    text-decoration: none;
    line-height: 30px;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    transition: 0.2s;
}

.view-btn a:hover{
  outline: 3px solid #000;
}

.view-btn a span:hover{
  background: #fff;  
}

.sliders-ul {
    transition: 1s;
}

span.arrow-left {
    transition: 0.3s;
    opacity: 1;
}

span.arrow-left.hidden {
    opacity: 0;
}


span.arrow-right {
    transition: 0.3s;
    opacity: 1;
}

span.arrow-right.hidden {
    opacity: 0;
}

// about us

#about {
    width: 90%;
    margin: 100px auto;
}

#about .home-service-container {
    width: 77.77%;
    margin: 0 auto;
}

#about p.title {
    font-family: 'Encode Sans Condensed', sans-serif;
    color: rgb(183,114,49); 
    letter-spacing: 1px;
    font-size: 3rem;    
}


@media screen and (max-width: 768px) {
    
    // top slider
    
    .post-view-more-cover {
        height: 350px;
        margin-top: 0;
    }
    
    .view-more-li-flex {
        display: block;
    }
    
    .view-more-li-text {
        width: 100%;
        height: 150px;
    }
    
    .view-more-image-cover {
        width: 100%;
        height: 50vw;
    }
    
    .view-more-li-text p {
        margin: 0 auto 0;
        padding-top: 30px;
        padding-left: 0;
        font-size: 4vw;
    }
    
    .view-more-image {
        height: 50vw;
    }
    
    #about {
        width: 90%;
    }
    
    #about .home-service-container {
        width: 90%;
    }    
    
    #about .home-about-text {
        width: 90%;
    }
    
    #about .home-about-last-text {
        padding: 50px 0;
        width: 100%;
    }
    
    #about .home-about-last-text p {
        padding: 0 10px;
    } 
    
    
}


@media screen and (max-width: 650px) {
    
    .section-container{
        height: calc( 414px + ( 1440px - 100vw)/6 );
        // background: #00FFFF;
        margin-top: 100px;
        background: #add8e652;
    }    
    
}


.show-container{
    margin: 0 auto;
    width: 80vw;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.slides {
    display: flex;
    height: 80vw;
}
.slide{
    min-width: 100%;
    display: flex;
}

.slide img{
    width: 52vw;
    height: 100%;
    object-fit: cover;
}
.slide-controls{
    position: absolute;
    top: 50%;
    left: 0;
    trnsform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#next-btn, #prev-btn{
    cursor: pointer;
    background: transparent;
    font-size: 30px;
    border: none;
    padding: 10px;
    color: #fff;
}

#next-btn:focus, #prev-btn:focus{
    outline: none;
}





.view-more-li-text-btn{
  width: 35%; 
  background: #000;
  box-sizing: border-box; 
}

.view-more-li-text-btn h1{
    color: #fff;
    // width: 170px;
    font-weight: normal;
}

.view-more-li-text-btn a{
    border-radius: 7px;
    outline: 1px solid #fff;
    text-decoration: none;
    transition: 0.8s;
    color: #fff;
}

// .view-more-li-text a:hover{
//     color: #000;
//     background: #fff;
// }

.view-more-li-text-btn a span{
    display: inline-block;
    width: 100%;
    // padding: 10px 20px;
    padding: 10px 0;
    transition: 0.8s;
    font-size: 12px;
}
.view-more-li-text-btn a span:hover{
    width: 100%;
    color: #000;
    background: #fff; 
    border-radius: 7px;
}

.view-more-li-text-btn h1{
    margin-top: 100px;
    // margin-left: 100px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.view-more-li-text-btn a{
    margin: 0 auto;
    width: 118px;
    display: block;
    text-align: center;
    // margin-left: 120px;
    // margin: 0 auto;
}



