<div class="flash">
  <% if flash %>
    <% flash.each do |key, value| %>
      <div class="alert <%= bs4_bgcolor_for(key) %>">
        <%= value %>
        <button id="close-flash" class="flash-close" data-dismiss="alert">x</button>
      </div>
    <% end %>
    
    <%= javascript_pack_tag 'flash' %>
    
  <% end %>
  
</div>

