<header>
    <!--<div></div>-->
    <ul>
        <li><a href="/">TOP</a></li>
        <li><a href="#">Our Services</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/contacts/new">Contact</a></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Logout', logout_path, method: :delete, style: "color: red;" %></li>
        <% end %>
    </ul>
    <!--<div></div>-->
</header>
    